
<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon"><img src="images/envelope.png" alt="login"></div>
        <input class="form-control" type="text" placeholder="Your Email*" name="email" ng-model="user.email" required class="form-control">
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon"><img src="images/lock.png" alt="login"></div>
        <input class="form-control" type="password" placeholder="Password*" name="password" ng-model="user.password" required class="form-control">
    </div>
</div>
<div class="help-block" ng-show="wrongCred">Wrong Email\Password</div>
<a class="main-color link">Forgot Password?</a>
<div class="btn-login text-center">
    <input class="btn secondry-btn" type="submit" ng-disabled="loginForm.$invalid" value="Sign in">
</div>
