<div class="top-bg"></div>
<div class="row wrap-account">
    <main class="content-box info">
        <div class="line-color"></div>

        <section>
            <aside>
                <div>
                    <img src="images/info/faq.png" alt="faq" class="img-responsive">
                </div>
                <!-- end img -->

                <div>
                    <ul>
                        <li ng-repeat="faq in faqs" ng-class="{'info-active': isActive(faq)}"><a ng-click="scrollTo(faq.head)" scroll-to>{{faq.head}}</a>
                    </ul>
                </div>
                <!-- end list -->
            </aside>
            <!-- end aside -->

            <article>

                <h3>FAQ</h3>

                <div ng-repeat="faq in faqs" id="{{faq.head}}" class="info-div">
                    <h3 class="main-color">{{$index + 1}}. {{faq.head}}</h3>
                    <p ng-repeat="p in faq.data"><span>{{$parent.$index + 1}}.{{$index + 1}}</span> {{p}}</p>
                </div>
            </article>
            <!-- end article -->
        </section>
    </main>
</div>
