<div class="top-bg"></div>
<div class="row wrap-account">
    <main class="content-box info">
        <div class="line-color"></div>

        <section>
            <aside>
                <div>
                    <img src="images/info/policy.png" alt="privacy-policy" class="img-responsive">
                </div>
                <!-- end img -->

                <div ng-include="'views/directives/infoNav.html'" fixed-nav></div>
                <!-- end list -->
            </aside>
            <!-- end aside -->

            <article>

                <h3>Privacy Policy</h3>
                <div show-info data="data" type="policy"></div>
            </article>
            <!-- end article -->
        </section>
    </main>
</div>
