<div class="top-bg"></div>
<div class="row wrap-account">
    <main class="content-box info">
        <div class="line-color"></div>

        <section>
            <aside>
                <div>
                    <img src="images/info/terms.png" alt="terms and conditions" class="img-responsive">
                </div>
                <!-- end img -->

                <div ng-include="'views/directives/infoNav.html'" fixed-nav></div>
                <!-- end list -->
            </aside>
            <!-- end aside -->

            <article>

                <h3>Terms and Conditions</h3>
                <div>
                    <p>
                        THE FOLLOWING IS A LEGALLY BINDING AGREEMENT (THE "AGREEMENT") BETWEEN [ENTER NAME] (THE "COMPANY"), AND YOURSELF. PLEASE READ CAREFULLY AND MAKE SURE YOU FULLY UNDERSTAND THE CONTENTS OF THIS AGREEMENT PRIOR TO THE USE OF THE WEBSITE AND/OR SERVICES. IF YOU HAVE ANY DOUBTS ABOUT ANY OF YOUR RIGHTS AND OBLIGATIONS RESULTING FROM ENTERING INTO THIS AGREEMENT, PLEASE CONSULT LEGAL COUNSEL. BY CLICKING ON “SUBMIT” OR “I AGREE” AND/OR BY USING THE SERVICES, YOU ACKNOWLEDGE THAT YOU HAVE READ AND AGREED, IN FREE WILL AND CONSENT, TO BE BOUND BY THE TERMS OF THIS AGREEMENT WITHOUT ANY RESERVATIONS. YOU ALSO AGREE TO THE USE OF ELECTRONIC COMMUNICATIONS IN ORDER TO ENTER INTO CONTRACTS, AND YOU WAIVE ANY RIGHTS OR REQUIREMENTS UNDER APPLICABLE LAWS IN ANY JURISDICTION WHICH REQUIRE AN ORIGINAL (NON-ELECTRONIC) SIGNATURE. IF YOU DO NOT AGREE WITH ANY OF THE TERMS OF THIS AGREEMENT, DO NOT CONTINUE TO USE THE WEBSITE AND/OR SERVICES.

                    </p>
                </div>

                <div show-info data="data" type="terms"></div>
            </article>
            <!-- end article -->
        </section>
    </main>
</div>

