 <h3 class="main-color">More info about GROUP PLAY</h3>
 <div accordion close-others="true">
   <div accordion-group heading="What is group play?" ng-class="{'active-acc': open.one }" is-open="firstOpen" ng-click="toggleAcc('one')">
    <hr>
    <p>You will be entitled to receive a portion of the Winnings attributed to the Tickets purchased in connection with that Program (subject to all other provisions of this Agreement) in accordance with a ratio determined according to the number of Tickets and/or the price of the Tickets purchased for You and for the rest of the Users participating in the Program, as well as according to the fee to be paid to the Company in connection</p>
  </div>
  <div accordion-group heading="What is a share?" ng-click="firstOpen == false;toggleAcc('two')" ng-class="{'active-acc': open.two }">
    <hr>
    <p> You will be entitled to receive a portion of the Winnings attributed to the Tickets purchased in connection with that Program (subject to all other provisions of this Agreement) in accordance with a ratio determined according to the number of Tickets and/or the price of the Tickets purchased for You and for the rest of the Users participating in the Program, as well as according to the fee to be paid to the Company in connection.</p>
  </div>
  <div accordion-group heading="How does ( Lottery Name) group  work?" ng-click="firstOpen == false;toggleAcc('three')" ng-class="{'active-acc': open.three }">
    <hr>
    <p>You will be entitled to receive a portion of the Winnings attributed to the Tickets purchased in connection with that Program (subject to all other provisions of this Agreement) in accordance with a ratio determined according to the number of Tickets and/or the price of the Tickets purchased for You and for the rest of the Users participating in the Program, as well as according to the fee to be paid to the Company in connection.</p>
  </div>
  <div accordion-group heading="How do I know what I’ve won?" ng-click="firstOpen == false;toggleAcc('four')" ng-class="{'active-acc': open.four }">
    <hr>
    <p>You will be entitled to receive a portion of the Winnings attributed to the Tickets purchased in connection with that Program (subject to all other provisions of this Agreement) in accordance with a ratio determined according to the number of Tickets and/or the price of the Tickets purchased for You and for the rest of the Users participating in the Program, as well as according to the fee to be paid to the Company in connection.</p>
  </div>
</div>