<div class="multiSelect">
 <div class="col-sm-4">
        <div class="select">
            <div>{{ availableLabel }}
            ({{ available.length }})</div>
            <select ng-model="selected.available" multiple class="form-control"
            ng-options="e as e[displayAttr] for e in available"></select>
        </div>
    </div>
    <div class="col-sm-4" style="text-align: center;
margin-top: 30px;">
        <div class="select buttons">
            <button class="btn" ng-click="remove()"
            ng-disabled="selected.current.length == 0">
            <i class="fa fa-arrow-left"></i>
            </button>
            <button class="btn" ng-click="add()"
            ng-disabled="selected.available.length == 0">
            <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>

     <div class="col-sm-4">
        <div class="select">
            <div>{{ selectedLabel }}
            ({{ model.length }})</div>
            <select ng-model="selected.current" multiple
                ng-options="e as e[displayAttr] for e in model" class="form-control">
            </select>
        </div>
    </div>

</div>